* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
:root {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Mulish;
    overflow-x: hidden;
}
input, input::placeholder {
    color: #ffffff;
    font-weight: 600;
}
header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 6.6rem;
    background: #065E7C;
}
header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1.2rem 2.8rem;
}
label {
    text-indent: -9999px;
    white-space: nowrap;
}
:is(header) label , input {
    display: flex;
    flex: 1;
}
header label input {
    background: rgba(255, 255, 255, 0.2);

    padding: 1.2rem 1.4rem;
    border-radius: .4rem;
}
.avatar {
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover;
    border-radius: 50%;
}
main {
    margin-bottom: 3.4rem;
}
.main-article {
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
}
.banner-article img {
    display: block;  
    width: 100%;
}
.main-article > *:not(.banner-article), aside{
    padding-inline: 2.2rem;
}
.header-article-content > *:first-child{
    margin-bottom: .8rem;
}
.article-review{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.article-review .button-like rect:hover {
    fill: #49a869;
    transition: .5s;
}
.article-review .button-dislike rect:hover {
    fill: #a84949;
    transition: .5s;
}
aside h2 {
    margin-bottom: 3.2rem;
}
.cards {
    display: grid;
    gap: 3.2rem;
}
.card {
    display: flex;
    gap: 1.6rem;
}
.card-text-content {
    line-height: 2.24rem;
}
.card-text-content h2 {
    font-size: 1.8rem;
}
.card-text-content p {
    font-size: 1.4rem;
}
footer::before {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 6.6rem;
    background: #065E7C;

}
footer {
    height: 6.6rem;
    display: flex;
    margin-top: 3.9rem;
    padding: 2.6rem 1.6rem;
    justify-content: center;
    align-items: center;
}
footer, footer p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
footer p a:hover {
    color: #e0e0e0;
}

@media (min-width: 980px) {
    .page {
        max-width: 125rem;
        margin: auto;
        display: grid;
        grid-template-areas: 'header header header header'
                             'main main main aside'
                             'footer footer footer footer';
    }
    header {
        grid-area: header;
        margin-bottom: 4.4rem;
    }
    main img {
        border-radius: .8rem;
    }
    main {
        grid-area: main;
        padding-right: 3.4rem;
        padding-left: 2rem;
    }
    aside {
        grid-area: aside;
        padding: 0;
        padding-right: 2rem;
    }
    footer{
        grid-area: footer;
    }
}